%html
  %head
    %title MapEngine | Enhance Your Data
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=utf-8"}
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Racing+Sans+One|Raleway")
    = stylesheet_link_tag "application", :media => "screen"
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    = csrf_meta_tags

  %body
    %nav.main-nav
      .navbar{role: "navigation"}
        .container
          .navbar-header
            = render :partial => "layouts/navbar_header"
          #navbar-menu-top.menu-container.collapse.navbar-collapse
            = render :partial => "layouts/navbar_items"


    = yield
    %footer#contact
      %nav.bottom-nav
        .navbar{role: "navigation"}
          .container
            .navbar-header
              .mapengine-contact-icons.row
                .icon
                  .icon-text fb
                .icon
                  .icon-text mail
            #bottom-nav-collapse.menu-container.collapse.navbar-collapse
              = render :partial => "layouts/navbar_items"

    = yield :js_data
    = yield :scripts
